<nav id="nav">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/quizProtoPage">Quiz</a></li>
        <li><a href="/infoGenKnowledge">History</a></li>
        <li><a href="/login/logout">Logout</a></li>
    </ul>
    <button id="minimize"><h1><</h1></button>
</nav>